<% provide(:title, "Create a new room") %>

<div class="container">
  <legend>Sign up</legend>
  <div class="well">
  <%= form_for(@room) do |f| %>

    <div>
      <%= f.label :name, class: "control-label" %><br />
      <div class="input-prepend">
      <span class="add-on"><i class="icon-folder-open"></i></span>
       <%= f.text_field :name, class: "input-xlarge", placeholder: "Room Name"%></div>
    </div>
    <div><%= f.label :maximum_registrants, class: "control-label" %><br />
      <div class="input-prepend">
      <span class="add-on"><i class="icon-th"></i></span>
       <%= f.text_field :maximum_registrants, class: "input-xlarge", placeholder: "Maximum Number of Registrants"%></div>
    </div>
   
    <div><%= f.submit "Sign up", class: "btn btn-primary btn-large" %></div>
  <% end %>

</div>
</div>