<script>
$(function() {
    // Create a new client to connect to Faye
    var client = new Faye.Client('http://localhost:9000/faye');

  	var public_subscription = client.subscribe('/messages/public', function(data) {
      $('<p></p>').html(data.username + ": " + data.msg).appendTo('#chat_room');
    });

    var private_subscription = client.subscribe('/messages/private/' + <%= current_user.id %>, function(data){
      $('<p></p>').html(data.username + ": " + data.msg).appendTo('#chat_room');
    })
    // Handle form submissions and post messages to faye
    $('#new_message_form').submit(function(){
      console.log("hello");
      // Publish the message to the public channel
      client.publish('/messages/public', {
        username: '<%= current_user.first_name %>',
        msg: $('#message').val()
      });

      client.publish('/messages/owner/' + <%= find_room_owner_id(params[:id]) %>, {
        user_id: current_user.id,
        username: '<%= current_user.first_name %>',
        msg: $('#message').val()
      });
 
      // Clear the message box
      $('#message').val('');
 
      // Don't actually submit the form, otherwise the page will refresh.
      return false;
    });
  });

</script>

<h1><%= @room.name %></h1>

<div class="chat_container">
  <div id="chat_room">
    <p class="alert"> Welcome to the chat room <%= current_user.first_name %>! </p>
  </div>
 
  <form id="new_message_form" class="form-search">
    <legend>Ask a Question</legend>
    <input type="text" id="message" name="message" class="input-medium search-query" placeholder="Question...">
    <input type="submit" value="Ask!" class="btn">
  </form>
</div>